<h1>Dang Duy Thinh</h1>
<h3>Front-End Developer</h3>
<div class="contact-info">
  <p>
    Email: <a href="mailto:dev.dthinh97@gmail.com">dev.dthinh97@gmail.com</a>
  </p>
  <p>Phone: +84 966001684</p>
</div>

<div class="social-icons">
  <a href="https://github.com/duythinh-dev" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/dev-dthinh/" target="_blank">LinkedIn</a>
</div>
